{%extends 'base.html'%}

{%block title%}PowerGym - Entrenador{%endblock%}

{%block content%}
<br><br><br>
<div class="container">
    <h1 class="text-center" style="font-family: 'Copperplate', serif;">
        <span style="color: yellow;">{{ _("ENTRENADORES") }}</span> <span style="color: white;">{{ _("DISPONIBLES") }}</span>
    </h1>
    <div class="row">
        {% for entrenador in entrenadores %}
            <div class="col-sm-4 mb-4">
                <br><br>
                <div class="card" style="background-color: black; color: white;">
                    <img class="card-img-top" src="{{ url_for('static', filename='img/' + entrenador.foto) }}" style="width: 100%; height: 400px; object-fit: contain;" onmouseover="this.style.opacity=0.5;" onmouseout="this.style.opacity=1;">
                    <div class="card-body text-center">
                        <h5 class="card-title" style="color: yellow;">{{ entrenador.nombre }}</h5>
                        <p class="card-text">{{ entrenador.descripcion }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{%endblock%}