{%extends 'base.html'%}

{%block title%}PowerGym - Productos{%endblock%}

{%block content%}
<br><br><br>
<h1 class="text-center" style="font-family: 'Copperplate', serif;">
    <span style="color: yellow;">Bienvenido</span> <span style="color: white;">a los productos de</span>
    <span style="color: yellow;">Power</span><span style="color:aliceblue;">GYM</span>
</h1>
<br><br>
<div class="container">
    <div class="row">
        <div class="col-sm-4 mb-4">
            <div class="card" style="background-color: black; color: white;">
                <img class="card-img-top" src="{{ url_for('static', filename='img/img6.webp') }}" style="width: 100%; height: 400px; object-fit: contain;" onmouseover="this.style.opacity=0.5;" onmouseout="this.style.opacity=1;">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: yellow;">Faldas Deportivas</h5>
                    <p class="card-text">Colores Disponibles: negro, blanco <br> Tallas: S,M,L,XL <br> Precio: 40.000</p>
                    <a href="#" class="btn btn-primary rounded-pill" style="font-weight: bold; color: black; background-color: yellow; border-color: yellow;">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-4">
            <div class="card" style="background-color: black; color: white;">
                <img class="card-img-top" src="{{ url_for('static', filename='img/img1.jpeg') }}" style="width: 100%; height: 400px; object-fit: contain;" onmouseover="this.style.opacity=0.5;" onmouseout="this.style.opacity=1;">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: yellow;">Conjuntos Deportivos</h5>
                    <p class="card-text">Colores Disponibles: negro, blanco, rosa <br> Tallas: S,M,L,XL <br> Precio: 100.000</p>
                    <a href="#" class="btn btn-primary rounded-pill" style="font-weight: bold; color: black; background-color: yellow; border-color: yellow;">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-4">
            <div class="card" style="background-color: black; color: white;">
                <img class="card-img-top" src="{{ url_for('static', filename='img/img3.jpeg') }}" style="width: 100%; height: 400px; object-fit: contain;" onmouseover="this.style.opacity=0.5;" onmouseout="this.style.opacity=1;">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: yellow;">Shorts Deportivos</h5>
                    <p class="card-text">Colores Disponibles: negro, blanco, verde, rosa <br> Tallas: S,M,L,XL <br> Precio: 30.000</p>
                    <a href="#" class="btn btn-primary rounded-pill" style="font-weight: bold; color: black; background-color: yellow; border-color: yellow;">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-4">
            <div class="card" style="background-color: black; color: white;">
                <img class="card-img-top" src="{{ url_for('static', filename='img/img4.webp') }}" style="width: 100%; height: 400px; object-fit: contain;" onmouseover="this.style.opacity=0.5;" onmouseout="this.style.opacity=1;">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: yellow;">Camisa</h5>
                    <p class="card-text">Colores Disponibles: negro, blanco <br> Tallas: S,M,L,XL <br> Precio: 70.000.</p>
                    <a href="#" class="btn btn-primary rounded-pill" style="font-weight: bold; color: black; background-color: yellow; border-color: yellow;">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-4">
            <div class="card" style="background-color: black; color: white;">
                <img class="card-img-top" src="{{ url_for('static', filename='img/img5.jpg') }}" style="width: 100%; height: 400px; object-fit: contain;" onmouseover="this.style.opacity=0.5;" onmouseout="this.style.opacity=1;">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: yellow;">Conjunto Deportivo</h5>
                    <p class="card-text">Colores Disponibles: negro, blanco <br> Tallas: S,M,L,XL <br> Precio: 120.000</p>
                    <a href="#" class="btn btn-primary rounded-pill" style="font-weight: bold; color: black; background-color: yellow; border-color: yellow;">Agregar al carrito</a>
                </div>
            </div>
        </div>

        <div class="col-sm-4 mb-4">
            <div class="card" style="background-color: black; color: white;">
                <img class="card-img-top" src="{{ url_for('static', filename='img/img2.jpeg') }}" style="width: 100%; height: 400px; object-fit: contain;" onmouseover="this.style.opacity=0.5;" onmouseout="this.style.opacity=1;">
                <div class="card-body text-center">
                    <h5 class="card-title" style="color: yellow;">Camisa mas Pantalon</h5>
                    <p class="card-text">Colores Disponibles: negro, blanco <br> Tallas: S,M,L,XL <br> Precio: 90.000</p>
                    <a href="#" class="btn btn-primary rounded-pill" style="font-weight: bold; color: black; background-color: yellow; border-color: yellow;">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>

{%endblock%}